$main-blue: #3fbad4;
$light-gray: #f5f5f5;

table.table {
    font-family: sans-serif;

    &, tr, td, th {
        border-collapse: collapse;
        border: 1px solid black;
        border-left-width: 0px;
        border-right-width: 0px;
    }

    thead {
        background-color: $main-blue;
        color: white;

        th, td {
            padding: 4pt;
        }
    }

    tbody {
        th, td {
            padding: 4pt;
        }
    }

    tbody {
        .row {
            &.categoryRow {
                &, &.totalRow {
                    background-color: mix($main-blue, white);
                    color: inherit;
                }
            }

            &.totalRow {
                background-color: $main-blue;
                color: white;
            }
        }
    }
}

.selectionCell {
    text-align: center;
    vertical-align: center;
}

.sortArrow {
    font-size: .8em;
    margin: .1em;

    width: 1em;
    padding: .2em;
    height: .866em;
    overflow: hidden;
    color: rgba(white,.7);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";

        font-size: .6em;

        border-left: .5em solid transparent;
        border-right: .5em solid transparent;

        border-top: .866em solid currentColor;
        border-bottom: 0px solid currentColor;
    }

    &.sortArrow--active {
        color: white;
    }

    // &.sortArrow--ascendant {}

    &.sortArrow--descendant {
        transform: rotate(180deg);
    }
}
